/* Rate Schedule Application built for CPCC */
/* Created by: Karl Elmore */
/* Email: karl.elmore@cpcc.edu  */

/* Header and Footers */

#ribbon {
    padding-top: 9px;
    height: 21px;
    background: #000;
    color: #fff;
    font-size: 11px;
    position: static;
    z-index: 5;
    vertical-align: 25px;
    letter-spacing: 1px;
    }

#ribbon {
    padding-top: 9px;
    height: 21px;
    background: #000;
    color: #fff;
    font-size: 11px;
    position:relative;
    z-index:5;
}
#ribbon a {
    color: #fff;
}
#ribbon ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
#ribbon li {
    float: left;
    margin-right: 25px;
}
#ribbon li.accessibility a {
    color: black;
    font-size: 1px;
}
#ribbon li.accessibility a:hover {
    cursor: default;
}
#ribbon li.need-help {
    float:right;
    margin-right:0px;
}
#ribbon li.admin {
    float: right;
}

#header {
    height: 70px;
    background-color: #93c560;
}
#header-inner {
    margin: 0 auto;
    width: 100%;
    height:70px;
    position:relative;
    z-index:1;
    background: limegreen;
}
.header-inner {
    margin: 0 auto;
    width: 100%;
    height:70px;
    position:relative;
    z-index:1;
    background: limegreen;
}
#logo {
    float: left;
    padding-top: 15px;
    width: 50%;
    position:absolute;
}
.logo {
    float: left;
    padding-top: 15px;
    width: 50%;
    position:absolute;
}
#menu {
    height: 40px;
    background-color:#085D37;
    font-size: 14px;
    font-weight: bold;
    color: #ffffcc;
}
#menu a {
    color: #e8e8e8;
}
#site-navigation {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 960px;
    height: 40px;
}
#site-navigation li {
    float: left;
}
#site-navigation li a {
    display: block;
    padding: 12px 11px 0 11px;
    width: 170px;
    height: 28px;
    text-align: center;
}
#site-navigation li a:hover {
    background-color:#007551;
    text-decoration: none;
}
#site-navigation li.selected {
    background: #B9DAB2;
    color: #085d37;
}
#site-navigation li.selected a {
    color: #085d37;
}
#site-navigation li.selected a:hover {
    background: #B9DAB2;
}

#bigheader, #interior-body, #footer {
    min-width: 960px;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


div.help-info {
    border: 1px dashed red;
    display: inline;
    float: right;
    padding: 5px;
    width: 200px;
}

.noScriptMessage{
    text-align: center;
    color: Red;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Arial, FreeSans, sans-serif;
    font-weight: bold;
    color: Black;
    line-height: 1.5em;
}

h1, h2 {
    letter-spacing: -0.05em;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.75em;
}

h3 {
    display: block;
    font-size: .9em;
    -webkit-margin-before: .9em;
    -webkit-margin-after: .9em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    text-decoration: underline;
}

h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.8em;
}
h2, h3, h4, h5, h6 {
    color: #444;
}
h2 a, h3 a, h4 a {
    border-bottom: none !important;
}
.help-employee-info {
    display: block;
    font-weight: bold;
    font-size: .75em;
}

div.signature-box {
    width: 400px;
    height: 50px;
    border-bottom: 1px dotted black;
}
a:focus img {
    outline: thin dotted;
}
#footer {
    min-height: 283px;
}
#footer-navigation {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
#footer-navigation li {
    float: left;
    padding-top: 10px;
    width: 14%;
    height: 100px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
#footer-navigation li.last {
    background: none;
}
#footer-navigation li img {
    margin-bottom: 10px;
}
#footer-navigation li a {
    color: #5d5d5d;
    text-decoration: none;
}
#footer-links {
    margin-top: 50px;
    text-align: center;
    font-size: 12px;
}

/* Definition lists */
dl dt, dl dd { margin: 5px 0; }
dl dd { margin-bottom: 10px; }
dl dt { font-weight: bold; }
dt {
    display: block;
}
dd {
    margin-bottom: 8px;
    border-bottom: 1px solid gray;
    width: 300px;
    padding: 2px 2px 0 2px;
}
.data dt {
    display: block;
    font-weight: bold;
    font-size: .6em;
}
.data dd {
    display: block;
    font-size: .7em;
}

/* Forms */
p {
}
a:link, a:visited {
    color: #205c90;
}
p {
    display: block;
    -webkit-margin-before: .5em;
    -webkit-margin-after: .5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

* a img,:link img,:visited img { border:none }
a { outline: none; }
table { border-spacing: 0; }
img { vertical-align: text-bottom; }
iframe { border-width: 0; border-style:none; }
/* */
/* */
body {
    font: 100% Arial, FreeSans, sans-serif;
    background: White;
    color: Black;
    /* */
}

div.section {
    margin-top: 20px;
}

div {
    display: block;
}

fieldset { border: 1px solid #aaa; margin: 10px 0; padding: 10px; }
legend { padding: 0 5px; font-size: 1.25em; font-weight: bold; color: #444; border-radius: 5px;}
div.field { margin: 10px 0; }
div.field span.required { color: #ff0000; }
div.field.radio, div.field.checkbox { margin: 10px 0; }
div.field label { display: block; margin: 5px 0; font-weight: bold; }
div.field.inline label { display: inline; margin: 5px 15px 0 0; font-weight: bold; }
div.field.radio label, div.field.checkbox label
{
    display: inline;
    margin-left: 5px;
}
div.field div.help-text
{
    margin-top: 3px;
    font-style: italic;
    font-size: 11px;
    color: #888;
}
input[type=text], input[type=password], textarea
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 5px;
    border: 1px solid #ccc;
    background: #f3f8f9;
}
input[type=text].focus, input[type=password], textarea.focus
{
    border-color: #aaa;
    background: #e6eff1;
}
div.field.invalid
{
    padding: 10px 15px;
    border: 1px solid #851515;
    background: #ffd7d7;
}
/* Tables */
table { margin: 15px 0; width: 100%; border-collapse: collapse; }
table th, td { padding: 7px 10px; }
table th
{
    background: #e9f3de;
    border: 1px solid #aaa;
    text-align: left;
    text-shadow: 1px 1px #fff;
    color: #333;
}
table td { border: 1px solid #aaa; }
table tr.even td  { background: #fff; }
table tr.odd td { background: #f5f5f5; }
/* Alert messages */
div.message
{
    margin-bottom: 15px;
    padding: 10px 10px 10px 50px;
    min-height: 30px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
#supervisor-print {
    margin: 0 5px;
    font-size: .75em;
}
#supervisor-print span {
    margin: 0 5px;
}
div#printable {
    display:none;
}

.hide {
    display: none;
}

.error{
    color: red;
    font-weight: bold;
}

fieldset div.validated-field input.error, fieldset div.validated-field select.error,
fieldset div.validated-field textarea.error, fieldset table.unformatted-table input.error,
fieldset table.unformatted-table select.error {
    border: 1px solid red;
<<<<<<< HEAD
}
=======
}
>>>>>>> e5f9799211b2dbde94e6ccd35300d4f42311043b
